@model IEnumerable<informationSystem.Models.Kimlik>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TC_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SOYAD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOGUM_YERI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOGUM_TARIHI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ILETISIM_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TC_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SOYAD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOGUM_YERI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOGUM_TARIHI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ILETISIM_ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
