<html


@model IEnumerable<informationSystem.Models.Ogrenci>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="Index.cshtml.css">
</head>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OGR_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KIMLIK_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MUFREDAT_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OGR_NO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KIMLIK_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MUFREDAT_ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</html>